<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ECSO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B346EF42BFD8B6400560B77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B346F0F2BFD8B6600560B77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B346F192BFD8B6600560B77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
